#container
{
	width:260px;
	height:196px;
	padding:4px;
	overflow:auto;
	display:inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
	#container ul
	{
		list-style:none;
	}
		#container ul li
		{
			width:25px;
			height:20px;
			padding:3px 0px 0px 0px;
			text-align:center;
			border:transparent 1px solid;
			cursor:pointer;
			display:inline-block;
			position:relative;
		    border-radius:5px;
		}
		#container ul li:hover
		{
			background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 70%, #e9e9e9);
			border-color: #BEBEBE;
			color: #222;
		}
		/* Tooltip styling */
		#container ul li[data-tooltip]:after
		{
			width:0;
			height:0;
			left:22.5%;
			content:"";
			display:none;
			position:absolute;
			border-top: 8px solid #222;
			border-left:8px solid transparent;
			border-right:8px solid transparent;
			border-top: 8px solid hsla(0,0%,0%,.85);
		}
		#container ul li[data-tooltip]:before
		{
		    left:-5px;
			opacity:0;
			width:38px;
		    height:40px;
		    display:none;
		    color: #f6f6f6;
		    font-size:28px;
		    background: #222;
		    line-height:32px;
		    position:absolute;
		    border-radius:5px;
		    font-family:sans-serif;
		    content:attr(data-tooltip);
		    background: hsla(0,0%,0%,.85);
		    z-index:99999;
		}
			#container ul li[data-tooltip]:hover:after
			{
				top:-9px;
			    display:block;
			}
			#container ul li[data-tooltip]:hover:before
			{
			    top:-49px;
				opacity:1;
			    display:block;
			}
#copied
{
	height:0px;
	overflow:hidden;
	opacity:0;
	color:#2E74B2;
	text-align:center;
	border-radius: 5px;
	background:#E4EDF5;
	font-family: Tahoma;
	font-weight: bold;
	font-size:12px;
	border:#D8E1E9 1px solid;
	margin:0px auto 0px auto;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
}
	#copied p
	{
		padding:5px;
	}
#clipboard
{
	top:-40px;
	opacity:-1;
	position:absolute;
	z-index:-1;
}

.custom-scroll-bar::-webkit-scrollbar 
{
	width: 10px;
	background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(202, 202, 202, 0.07)),color-stop(100%,rgba(229, 229, 229, 0.07)));
	background: -webkit-linear-gradient(left,rgba(202, 202, 202, 0.07) 0%,rgba(229, 229, 229, 0.07) 100%);
	-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.15) inset,0 1px 0 0 #fff;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.15) inset,0 1px 0 0 #fff;
	background-color: #E5E5E5;
}
	.custom-scroll-bar::-webkit-scrollbar, .custom-scroll-bar::-webkit-scrollbar-thumb
	{
		overflow: visible;
		border-radius: 4px;
		border: solid 1px #A6A6A6;
		border-image: initial;
	}
	.custom-scroll-bar::-webkit-scrollbar-thumb:hover
	{
		background:#F1F1F1;
	}
	.custom-scroll-bar::-webkit-scrollbar-button 
	{
		height: 0;
		display: block;
		background-color: transparent;
	}